.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 29px;
}

.card {
  width: 274px;
  height: 426px;
}

.favoriteButton {
  position: relative;
  top: 40px;
  left: 230px;
  background-color: transparent;
}

.favoriteIcon {
  fill: none;
  stroke: var(--primary-white-color);
}

.activeFavoriteIcon {
  fill: var(--primary-accent-color);
  stroke: var(--primary-accent-color);
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 274px;
  height: 268px;

  border-radius: 14px;
  overflow: hidden;
}

.image {
  width: 418px;
  height: 280px;
  object-fit: cover;
}

.title {
  font-size: 16px;
  line-height: calc(24 / 16);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 8px;
}

.model {
  color: var(--primary-accent-color);
}

.information {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.informationList {
  display: flex;
  flex-direction: row;
  gap: 6px;
  & > li {
    font-size: 12px;
    font-weight: 400;
    line-height: calc(18 / 12);
    padding-right: 6px;
    color: var(--secondary-text-color);
  }
  & > :not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
}

.learnMoreButton {
  margin-top: 28px;
  width: 100%;
}
